.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 50px;
    background-color: #1F2833;
    width: 100%;
    flex-direction: column;
}


.projects h1{
    color: #fff;
    font-size: 50px;
    font-family: "Josefin Sans",sans-serif;
}


.portfolio-container1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.line1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.portfolio-card{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border:  2px solid yellow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;  
}