@media (max-width:480px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .right{
        display: flex;
        width: 100%;
    }

    .right img{
        height: 50%;
        max-width: 100%;
        width: auto;
        border-radius: 0px 0px 50% 50%;
        margin: 0;
        padding: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../images/aboutme-img.jpg);
        background-size: cover;
    }

    .left{
        width: 100%;
    }

    .text-box1{
        padding: 20px;
    }

    .text-box1 h1{
        font-size: 30px;
    }

    .text-box1 h2{
        font-size: 16;
    }

    .back{
        left: 30px;
    }
    .back a{
        font-size: 15px;
    }

    .header-container{
        padding: 0;
    }

    .edu{
        font-size: 30px;
    }

    .education-content h3{
        font-size: 18px;
    }

    .education-item{
        padding: 0;
    }

    .icon{
        font-size: 20px;
    }

    .coreValues{
        font-size: 30px;
    }

    .hobby-topic{
        font-size: 30px;
    }
    .hobbies-container{
        gap: 50px;
    }

}