@media (max-width: 768px) {
    .projects {
        padding: 30px 15px;
    }
    
    .project-title {
        font-size: 30px;
        padding: 10px;
        margin-bottom: 15px;
    }
    
    .projects-container {
        gap: 15px;
        padding: 0 10px;
    }
    
    .project-card {
        width: 100%; /* Full width on smaller screens */
        max-width: 400px;
    }
    
    .project-card img {
        height: 180px;
    }
    
    .project-card h3 {
        font-size: 1.1rem;
    }
    
    .project-card p {
        font-size: 0.85rem;
    }
    
    .tech-stack {
        font-size: 0.75rem;
    }
}

/* Extra small screens (phones) */
@media (max-width: 480px) {
    .projects {
        padding: 25px 10px;
    }
    
    .project-title {
        font-size: 25px;
    }
    
    .projects-container {
        width: 95%;
        gap: 12px;
    }

    .project-card{
        width: 350px;
        height: 325px;
        margin-bottom: 20px;
    }
    
    .project-card img {
        height: 200px;
        width: 350;
    }
    
    .project-card h3 {
        font-size: 1rem;
        margin: 8px;
    }
    
    .project-card p {
        font-size: 0.8rem;
        margin: 0 8px 8px;
    }
    
    .tech-stack {
        padding: 8px;
        font-size: 0.7rem;
    }
}