.slide_2{
    height: 100vh;
    padding-top: 50px;
    background-color: #1F2833;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.skills-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
}

.sk-container{
    width: 80%;
    text-align: center;
    justify-content: center;
}

.skills-container h1 {
    font-family: "Michroma", sans-serif;
    color: aliceblue;
    font-size: 50px;
    padding: 0;
    padding-bottom: 50px;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    position: relative;
}

.skills-grid.with-divider::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    z-index: 1;
}

.skill-card {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blurred glass effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    flex-direction: column;
}


.skill-card .arrow-right {
    display: flex;
    position: absolute;
    left: 25px;
    color: #748d92;
    justify-content: center;
}

.skill-card .skill-content {
    flex-grow: 1;
    text-align: center;
    position: relative;
}
.skill-content h1{
    color:#fff;
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    padding: 0;
    margin: 0;
}

@media (max-width : 480px) {
    .skill-card{
        width: 90%;
    }

    .sk-container{
        width: 90%;
    }
}